#wrapper {
  // height: 100vh;
  display: flex;
  // align-items: center;
  justify-content: center;
  background-color: antiquewhite;

  #quote-box {
    // min-height: 30vh;
    width: 35vw;
    // max-height: 600px;
    // padding: 1em;
  }
  .buttons {
    position: absolute;
    bottom: 0px;
  }
}
